.navbar {
    background-color: blue;
    color: white;
    justify-content: center;
    font-size:xx-large;
    font-weight: 700;
}

.search-bar {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}

.form-control {
    max-width: 90%;
    display: flex;
    padding: 15px;
}

.btn-primary {
    flex-wrap: wrap;
}

.card {
    display: flex;
    position: relative;
    width: 200px;
    flex: 1;
}